.global {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.tapegradient{
  background-color: #663dff;
background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);

  
}
@keyframes orbit {
  0% { transform: rotate(0deg) translateX(var(--radius)) rotate(0deg); }
  100% { transform: rotate(360deg) translateX(var(--radius)) rotate(-360deg); }
}

.animate-orbit {
  animation: orbit var(--duration, 20s) linear infinite;
}
